<section>
  <div class="banner-container-{{ section.id }}">
    {% if section.settings.banner_image != blank %}
      <div class="image-container-{{ section.id }}">
        <div class="image-overlay"></div>
        <img src="{{ section.settings.banner_image | img_url: 'master' }}" alt="{{ section.settings.banner_image.alt }}">
      </div>
    {% else %}
      <div class="image-container-{{ section.id }}">
        <div class="image-overlay"></div>
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}

    {% comment %} Rendering the blocks {% endcomment %}
    <div class="banner-content-{{ section.id }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'banner_content_heading' %}
            <h1 class="content-title">{{ block.settings.title }}</h1>
          {% when 'banner_content_desc' %}
            <p class="content-description">{{ block.settings.description }}</p>
          {% when 'banner_content_url' %}
            <a class="button" href="{{ block.settings.button_link}}">{{ block.settings.button_label }}</a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  section .banner-container-{{ section.id }} {
    position: relative;
    width: 100%;
    height: {{ section.settings.banner_size }}px;
    margin-top: {{ section.settings.section_top_margin }}px;
    margin-bottom: {{ section.settings.section_bottom_margin }}px;
    overflow: hidden;
  }

  /* If banner size */
  {% if section.settings.banner_size == 900 %}
    section .banner-container-{{ section.id }} {
      height: 100vh;
    }
  {% else %}
    section .banner-container-{{ section.id }} {
        height: {{ section.settings.banner_size }}px;
      }
  {% endif %}

  /* Image and placeholder size and position */
  .image-container-{{ section.id }} img,
  .image-container-{{ section.id }} svg {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  /* Section overlay */
  .image-container-{{ section.id }} .image-overlay {
    background: {{ section.settings.overlay_color }};
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    z-index: -1;
  }

  /* Section Padding */
  section .banner-content-{{ section.id }} {
    padding: 0 {{ section.settings.section_inner_padding }}px;
  }

  /* Rendering blocks styles */
  {% for block in section.blocks %}
    section .banner-content-{{ section.id }} {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    /* Content title */
    .banner-content-{{ section.id }} .content-title {
      font-size: {{ block.settings.heading_font_size }}px;
      color: {{ block.settings.heading_font_color }};
      font-weight: {{ block.settings.heading_font_weight }};
      transform: translateY({{ block.settings.heading_y_position }}px);
    }

    /* If title shadow */
    {% if block.settings.heading_show_text_shadow == true %}
      .banner-content-{{ section.id }} .content-title {
        text-shadow: {{ block.settings.heading_text_shadow_position_x }}px {{ block.settings.heading_text_shadow_position_y }}px {{ block.settings.heading_text_shadow_spread_size }}px {{ block.settings.heading_text_shadow_color }};
      }
    {% endif %}

    /* Content description */
    .banner-content-{{ section.id }} .content-description {
      font-size: {{ block.settings.description_font_size }}px;
      color: {{ block.settings.description_font_color }};
      font-weight: {{ block.settings.description_font_weight }};
      text-align: center;
      padding: {{ block.settings.description_padding_y }}px 0;
    }

    /* Content button */
    .banner-content-{{ section.id }} .button {
      color: {{ block.settings.button_font_color }};
      background: {{ block.settings.button_background_color }};
      padding: {{ block.settings.button_size }}px {{ block.settings.button_size | times: 3 }}px;
      font-size: {{ block.settings.button_font_size }}px;
      margin: 2rem;
      border-radius: {{ block.settings.button_border_radius }}px;
      transition: all 0.{{ block.settings.button_transition_duration }}s ease-out;
    }

    /* If button border */
    {% if block.settings.button_show_border == true %}
      .banner-content-{{ section.id }} .button {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }
      
      .banner-content-{{ section.id }} .button:hover {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    {% endif %}

    /* If transparent button */
    {% if block.settings.transparent_button == true %}
      .banner-content-{{ section.id }} .button {
        background: transparent !important;
      }
    {% endif %}

    .banner-content-{{ section.id }} .button:hover {
      color: {{ block.settings.button_font_hover_color }};
      background: {{ block.settings.button_hover_color }};

      /* what's this? */
      /* box-shadow: var(--shadow); */
    }

    /* If button shadow */
    {% if block.settings.button_show_shadow == true %}
      .banner-content-{{ section.id }} .button:hover {
        box-shadow: {{ block.settings.button_shadow_position_x }}px 
          {{ block.settings.button_shadow_position_y }}px 
          {{ block.settings.button_shadow_spread_size }}px 
          {{ block.settings.button_shadow_color }};
      }
    {% endif %}

    /* If button text shadows */
    {% if block.settings.button_text_shadow == true %}
      .banner-content-{{ section.id }} .button:hover {
        text-shadow: {{ block.settings.button_text_shadow_position_x }}px 
          {{ block.settings.button_text_shadow_position_y }}px 
          {{ block.settings.button_text_shadow_spread_size }}px 
          {{ block.settings.button_text_shadow_color }};
      }
    {% endif %}
  {% endfor %}

  @media screen and (max-width: 768px) {
    .banner-content-{{ section.id }} .content-title {
      font-size: 96px;
      text-align: center;
    }

    .banner-content-{{ section.id }} .content-description {
      font-size: 40px;
      text-align: center;
    }

    .banner-content-{{ section.id }} .button {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 600px) {
    .banner-content-{{ section.id }} .content-title {
      font-size: 48px;
    }

    .banner-content-{{ section.id }} .content-description {
      font-size: 24px;
    }

    .banner-content-{{ section.id }} .button {
      font-size: 12px;
    }
  }

{% endstyle %}

{% schema %}
{
  "name": "Banner",
  "class": "banner-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Image Banner"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image Overlay Opacity",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_top_margin",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Top Margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_bottom_margin",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Bottom Margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_inner_padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Inner Padding Margin",
      "default": 10
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "banner_size",
      "label": "Image Banner Size",
      "options": [
        {
          "value": "400",
          "label": "Small"
        },
        {
          "value": "600",
          "label": "Medium"
        },
        {
          "value": "800",
          "label": "Large"
        },
        {
          "value": "900",
          "label": "Full Height"
        }
      ],
      "default": "600"
    }
  ],
  "blocks": [
    {
      "type": "banner_content_heading",
      "name": "Heading",
      "settings": [
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 24,
          "max": 128,
          "step": 2,
          "unit": "px",
          "label": "Heading Font Size",
          "default": 50
        },
        {
          "type": "range",
          "id": "heading_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "heading_font_color",
          "label": "Heading Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "heading_text_shadow_color",
          "label": "Heading Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Main Heading",
          "label": "Heading Title"
        },
        {
          "type": "number",
          "id": "heading_y_position",
          "label": "Heading Y Position",
          "default": 0
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "200",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "600",
              "label": "Bold"
            }
          ],
          "default": "400"
        },
        {
          "type": "checkbox",
          "id": "heading_show_text_shadow",
          "label": "Show Text Shadow",
          "default": false
        }
      ]
    },
    {
      "type": "banner_content_desc",
      "name": "Description",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "description",
          "default": "Store Description",
          "label": "Store Description"
        },
        {
          "type": "range",
          "id": "description_font_size",
          "min": 14,
          "max": 64,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "description_padding_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Y",
          "default": 10
        },
        {
          "type": "color",
          "id": "description_font_color",
          "label": "Font Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "description_font_weight",
          "label": "Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "200",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "600",
              "label": "Bold"
            }
          ],
          "default": "400"
        }
      ]
    },
    {
      "type": "banner_content_url",
      "name": "Button",
      "settings": [
        {
          "type": "range",
          "id": "button_transition_duration",
          "min": 1,
          "max": 99,
          "step": 1,
          "unit": "ms",
          "label": "Transition Duration",
          "default": 5
        },
        {
          "type": "range",
          "id": "button_border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Border Radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 5,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Size",
          "default": 10
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Button Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Border Thickness",
          "default": 1
        },
        {
          "type": "range",
          "id": "button_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position X",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "button_font_color",
          "label": "Font Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Background Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_font_hover_color",
          "label": "Hover Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_hover_color",
          "label": "Hover Background Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_border_hover_color",
          "label": "Button Border Hover Color",
          "default": "#f57224"
        },
        {
          "type": "color",
          "id": "button_shadow_color",
          "label": "Button Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_text_shadow_color",
          "label": "Button Text Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button URL"
        },
        {
          "type": "checkbox",
          "id": "transparent_button",
          "label": "Transparent Button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_border",
          "label": "Show Button Border",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_shadow",
          "label": "Show Button Shadow",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_text_shadow",
          "label": "Show Button Text Shadow",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "static_banner",
      "name": "Image Banner",
      "blocks": [
        {
          "type": "banner_content_heading"
        },
        {
          "type": "banner_content_desc"
        },
        {
          "type": "banner_content_url"
        }
      ]
    }
  ]
}
{% endschema %}

