<section class="{{ section.id }}">
  <div class="featured-collection-container-{{ section.id }}">
    {% comment %} if show collection title {% endcomment %}
    {% if section.settings.show_collection_title == true %}
      <h2 class="featured-collection-title">{{ section.settings.title }}</h2>
    {% endif %}

    <div class="card-container-{{ section.id }}">
      {% comment %} If no selected collection {% endcomment %}
      {% if section.settings.featured-collection == blank %}
        
        {% comment %} product placeholder 1 {% endcomment %}
        <div class="card-{{ section.id }}" data-aos="{{ section.settings.animate_on_scroll }}">
          <div class="card-header">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            <div class="card-body-{{ section.id }}">
              <h3 class="card-product-title-{{ section.id }}">
                <a href="">Product Sample</a>
              </h3>
                <p>₱15.99</p>
            </div>
          </div>
        </div>

        {% comment %} product placeholder 2 {% endcomment %}
        <div class="card-{{ section.id }}" data-aos="{{ section.settings.animate_on_scroll }}">
          <div class="card-header">
            {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
            <div class="card-body-{{ section.id }}">
              <h3 class="card-product-title-{{ section.id }}">
                <a href="">Product Sample</a>
              </h3>
                <p>₱15.99</p>
            </div>
          </div>
        </div>

        {% comment %} product placeholder 3 {% endcomment %}
        <div class="card-{{ section.id }}" data-aos="{{ section.settings.animate_on_scroll }}">
          <div class="card-header">
            {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
            <div class="card-body-{{ section.id }}">
              <h3 class="card-product-title-{{ section.id }}">
                <a href="">Product Sample</a>
              </h3>
                <p>₱15.99</p>
            </div>
          </div>
        </div>

        {% comment %} product placeholder 4 {% endcomment %}
        <div class="card-{{ section.id }}" data-aos="{{ section.settings.animate_on_scroll }}">
          <div class="card-header">
            {{ 'product-4' | placeholder_svg_tag: 'placeholder-svg' }}
            <div class="card-body-{{ section.id }}">
              <h3 class="card-product-title-{{ section.id }}">
                <a href="">Product Sample</a>
              </h3>
                <p>₱15.99</p>
            </div>
          </div>
        </div>

      {% comment %} If collection is selected {% endcomment %}
      {% else %}
        {% for product in collections[section.settings['featured-collection']].products limit: section.settings.products_to_show %}
          {% assign image = product.featured_media.preview_image %}

          <div class="card-{{ section.id }}" data-aos="{{ section.settings.animate_on_scroll }}">
            <div class="card-header">
              {% if image != blank %}
                <img src="{{ image | img_url: 'large' }}" alt="{{ product.title }}">
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
              {% endif %}

              <div class="card-body-{{ section.id }}">
                <h3 class="card-product-title-{{ section.id }}">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </h3>
                  <p>{{ product.price | money }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      
    </div>
  </div>
</section>

{% style %}
  /* Section */
  .{{ section.id }} {
    background: {{ section.settings.featured_collection_background_color }};
  }

  /* Section container */
  section .featured-collection-container-{{ section.id }} {
    padding-top: {{ section.settings.featured_collection_padding_yt | times: 3 }}px !important;
    padding-bottom: {{ section.settings.featured_collection_padding_yb | times: 3 }}px !important;
    height: auto;
    margin: 0 auto;
    width: {{ section.settings.featured_collection_width }}vw;
    max-width: 1920px;
  }

  /* Collection title */
  .featured-collection-container-{{ section.id }} .featured-collection-title {
    font-size: {{ section.settings.collection_title_font_size }}px;
    padding: {{ section.settings.collection_title_padding_y }}px 0;
    text-align: {{ section.settings.collection_title_position_x }};
    font-weight: {{ section.settings.collection_title_font_weight }};
    color: {{ section.settings.collection_title_font_color }};
  }

  /* Card container */
  section .card-container-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat({{ section.settings.collection_cards_per_row }}, 1fr);
    align-items: center;
    gap: {{ section.settings.collection_cards_gap }}px;
  }

  /* Card */
  .card-container-{{ section.id }} .card-{{ section.id }} {
    border-radius: {{ section.settings.collection_cards_border_radius }}px;
    overflow: hidden;
    background: {{ section.settings.collection_cards_body_color }};
  }

  /* If card shadow */
  {% if section.settings.show_collection_card_shadow == true %}
    .card-container-{{ section.id }} .card-{{ section.id }} {
      box-shadow: {{ section.settings.collection_cards_shadow_position_x }}px {{ section.settings.collection_cards_shadow_position_y }}px {{ section.settings.collection_cards_shadow_spread_size}}px {{ section.settings.collection_cards_shadow_color }};
    }
  {% endif %}

  /* If card border */
  {% if section.settings.show_collection_card_border == true %}
    .card-container-{{ section.id }} .card-{{ section.id }} {
      border: {{ section.settings.collection_cards_border_thickness }}px solid {{ section.settings.collection_cards_border_color }};
    }
  {% endif %}

  /* card header */
  {% if section.settings.featured-collection == blank %}
    .card-{{ section.id }} .card-header {
      background: #f5f5f5;
    }
  {% endif %}

  /* Card image */
  .card-{{ section.id }} img {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  /* Card body */
  .card-{{ section.id }} .card-body-{{ section.id }} {
    padding: {{ section.settings.collection_cards_inner_padding }}px;
    height: auto;
    overflow: hidden;
  }

  /* Product title and price */
  .card-body-{{ section.id }} h3,
  .card-body-{{ section.id }} p {
    text-align: {{ section.settings.collection_title_and_price_position }};
  }

  .card-product-title-{{ section.id }} a {
    color: {{ section.settings.collection_cards_product_title }};
    font-weight: {{ section.settings.collection_cards_product_font_weight }};
    font-size: {{ section.settings.collection_cards_product_title_font_size }}px;
  }

  /* If hover animation */
  {% if section.settings.show_card_hover_animation == true %}
    .card-container-{{ section.id }} .card-{{ section.id }}:hover {
      transform: scale(1.03);
      transition: .3s ease;
    }

    .card-product-title-{{ section.id }} a:hover {
      color: {{ section.settings.collection_cards_product_title_hover }};
      transition: .3s ease;
    }
  {% endif %}

  .card-body-{{ section.id }} p {
    font-size: {{ section.settings.collection_cards_product_price_font_size }}px;
    color: {{ section.settings.collection_cards_price_title }};
    font-weight: {{ section.settings.collection_cards_price_font_weight }};
  }

  /* BREAKPOINTS */
  @media screen and (max-width: 1260px) {
    .featured-collection-container-{{ section.id }} {
      min-width: 90vw;
    }
  }

  @media screen and (max-width: 768px) {
    section .card-container-{{ section.id }} {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
  }

  @media screen and (max-width: 600px) {
    section .card-container-{{ section.id }} {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }

  @media screen and (max-width: 400px) {
    section .card-container-{{ section.id }} {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    
    .card-{{ section.id }} {
      width: 100%;
    }
  }
{% endstyle %}


{% schema %}
{
  "name": "Featured Collection",
  "class": "featured-collection",
  "settings": [
    {
      "type": "collection",
      "id": "featured-collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "featured_collection_width",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "vw",
      "label": "Section Width",
      "default": 60
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 24,
      "step": 1,
      "unit": "pc",
      "label": "Maximum products to show",
      "default": 4
    },
    {
      "type": "range",
      "id": "featured_collection_padding_yt",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "featured_collection_padding_yb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Bottom Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "collection_title_font_size",
      "min": 12,
      "max": 64,
      "step": 1,
      "unit": "px",
      "label": "Title Font Size",
      "default": 24
    },
    {
      "type": "range",
      "id": "collection_title_padding_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Title Padding Y",
      "default": 12
    },
    {
      "type": "range",
      "id": "collection_cards_per_row",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "pcs",
      "label": "Card per Row",
      "default": 4
    },
    {
      "type": "range",
      "id": "collection_cards_inner_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Card Inner Padding",
      "default": 16
    },
    {
      "type": "range",
      "id": "collection_cards_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Card Gap",
      "default": 24
    },
    {
      "type": "range",
      "id": "collection_cards_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Card Border Radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_cards_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Card Border Thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "collection_cards_shadow_spread_size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Card Shadow Spread",
      "default": 8
    },
    {
      "type": "range",
      "id": "collection_cards_shadow_position_y",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Card Shadow Position Y",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_cards_shadow_position_x",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Card Shadow Position X",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_cards_product_title_font_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Product Title Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "collection_cards_product_price_font_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Product Price Font Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "featured_collection_background_color",
      "label": "Section Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "collection_title_font_color",
      "label": "Title Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "collection_cards_border_color",
      "label": "Card Border Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "collection_cards_body_color",
      "label": "Card Body Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "collection_cards_shadow_color",
      "label": "Cards Shadow Color",
      "default": "#ccc"
    },
    {
      "type": "color",
      "id": "collection_cards_product_title",
      "label": "Product Title Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "collection_cards_product_title_hover",
      "label": "Product Title Hover Color",
      "default": "#f57224"
    },
    {
      "type": "color",
      "id": "collection_cards_price_title",
      "label": "Product Price Color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Collection"
    },
    {
      "type": "select",
      "id": "collection_title_position_x",
      "label": "Title Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "collection_title_font_weight",
      "label": "Title Font Weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "600",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "collection_title_and_price_position",
      "label": "Product Title Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "collection_cards_product_font_weight",
      "label": "Product Title Font Weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "600",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "collection_cards_price_font_weight",
      "label": "Product Price Font Weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "600",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "animate_on_scroll",
      "label": "Animate On Scroll",
      "options": [
        {
          "value": "null",
          "label": "None"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        }
      ],
      "default": "null"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show Collection Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_card_border",
      "label": "Show Card Border",
      "default": false
    }, 
    {
      "type": "checkbox",
      "id": "show_collection_card_shadow",
      "label": "Show Cards Shadow",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_card_hover_animation",
      "label": "Show Hover Animation",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "collection",
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
