<nav>
  <div class="nav-container-{{ section.id }}">
    <div class="navbar-{{ section.id }}">
      {% comment %} logo {% endcomment %}
      <div class="logo-container">
        {% if section.settings.logo != blank %}
          <img src="{{ section.settings.logo | img_url: 'medium' }}" alt="">
        {% endif %}
        {% if section.settings.store_name != blank %}
          <a class="store-name" href="/">{{ section.settings.store_name }}</a>
        {% endif %}
      </div>
      
      {% comment %} nav list {% endcomment %}
      <ul class="link-{{ section.id }} menu-items">
        {% for link in linklists['main-menu'].links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            [
            {%- for childlink in linklists[child_list_handle].links %}
              <li>
                <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
              </li>
            {% endfor -%}
            ]
          {% else %}
            <li>
              <a href="{{ link.url }}" class="hover-underline-{{ section.id }}"> {{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}     
      </ul>

      {% comment %} actual search form {% endcomment %}
        <form class="search-form" action="/search" method="GET" role="search">
          <input type="text" name="q" value="{{ search.terms | escape }}" id="search-box" placeholder="search">
          <button type='submit' class='bx bx-search-alt-2'></button>
          {% comment %} <label for="search-box" class='bx bx-search-alt-2'></label> {% endcomment %}
        </form>

      {% comment %} customer login {% endcomment %}
      <ul class="link-{{ section.id }} user-icons">
        <li>
          {% comment %} search icon (placeholder) {% endcomment %}
          <a><i class='bx bx-search-alt-2 icon' id='search_btn' ><span class="tooltip">Search</span></i></a>
        </li>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              {% comment %} logged in customer {% endcomment %}
              <a href="{{ routes.account_url }}"><i class='bx bxs-user icon'><span class="tooltip">Account</span></i></a>
            </li>
          {% else %}
            <li>
              {% comment %} to log in customer {% endcomment %}
              <a href="{{ routes.account_login_url }}"><i class='bx bx-user icon' ><span class="tooltip">Login</span></i></a>
            </li>
          {% endif %}
        {% endif %}

        {% if cart.item_count > 0 %}
          <li>
            <a href="/cart" class="new-cart"><i class='bx bxs-cart-alt icon' ><span class="tooltip">Cart</span></i></a>
          </li>
        {% else %}
          <li>
            <a href="/cart" class="new-cart"><i class='bx bx-cart-alt icon'><span class="tooltip">Cart</span></i></a>
          </li>
        {% endif %}

        {% comment %} box menu {% endcomment %}
        <li>
          <i class='bx bx-menu iconx'></i>
        </li>
      </ul>

    </div>
  </div>
</nav>

{% style %}
  nav {
    margin-bottom: {{ section.settings.navbar_bottom_margin }}px;
    background: {{ section.settings.navbar_background_color }};
    width: 100%;
    height: {{ section.settings.section_height }}px;
    z-index: 9;
    transition: all .15s ease-in-out;
    /* max-width: 1920px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .navbar-{{ section.id }} {
    width: {{ section.settings.section_width }}vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* IF NAV POSITION FIXED */
  {% if section.settings.navbar_fixed_position == true %}
    .sticky {
      position: fixed;
      background: {{ section.settings.sticky_nav_color }};
      opacity: {{ section.settings.sticky_nav_opacity | divided_by: 100.0 }};
    }
  {% endif %}

  {% if section.settings.show_bottom_border %}
    nav {
      border-bottom: 1px solid #353a3d;
    }
  {% endif %}


  /* LOGO CONTAINER */
  .navbar-{{ section.id }} .logo-container {
    display: flex;
    flex-direction: {{ section.settings.logo_position }};
    align-items: center;
    justify-content: center;
  }

  /* LOGO */
  .navbar-{{ section.id }} img {
    width: {{ section.settings.logo_size }}px;
    /* position: relative; */
  }

  /* STORE NAME */
  .navbar-{{ section.id }} .store-name {
    font-size: {{ section.settings.store_name_size }}px;
    color: {{ section.settings.store_name_color }};
    font-weight: {{ section.settings.store_name_font_weight }};
    padding: 4px;
  }

  /* NAV LINKS */
  .link-{{ section.id }} {
    display: flex;
  }

  .link-{{ section.id }} li {
    list-style: none;
    margin: 1rem;
  }

  .link-{{ section.id }} li a {
    font-size: {{ section.settings.navlist_font_size }}px;
    font-weight: {{ section.settings.navlist_font_weight }};
    color: {{ section.settings.navlist_font_color }};
    transition: color 0.15s ease;
  }

  .link-{{ section.id }} li a:hover {
    color: {{ section.settings.navlist_hover_color }};
  }
  
  /* SEARCH FORM */
  .navbar-{{ section.id }} .search-form {
    position: absolute;
    top: {{ section.settings.section_height}}px;
    right: 0;
    width: 300px;
    height: 35px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    display: none;
    align-items: center;
    transition: all .25s ease-in-out;
    z-index: 9;
  }

  .search-active {
    display: flex !important;
  }

  .search-form input {
    width: 100%;
    height: 100%;
    color: #2e393d;
  }

  .search-form button {
    font-size: {{ section.settings.icon_size }}px;
    cursor: pointer;
    color: #ccc;
    background: #fff;
    transition: color .15s ease-in-out;
  }

  .search-form button:hover {
    color: #2e393d;
  }

  /* cart icon */
  .new-cart {
    position: relative;
  }
  
  .icon {
    font-size: {{ section.settings.icon_size }}px;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
  }

  {% if cart.item_count > 0 %}
    .new-cart::after {
      content: "{{ cart.item_count }}";
      position: absolute;
      right: -10px;
      bottom: -10px;
      background: {{ section.settings.navlist_font_color }};
      font-size: 8px;
      font-weight: 500;
      color: {{ section.settings.navlist_hover_color }};
      width: 14px;
      text-align: center;
      border-radius: 3px;
      padding: 1px 0;
    }
  {% endif %}


  .bx-menu {
    font-size: {{ section.settings.icon_size }}px;
    color: {{ section.settings.navlist_font_color }};
    cursor: pointer;
    display: none;
  }

  /* HOVER UNDERLINE */
  {% if section.settings.hover_underline %}
    .hover-underline-{{ section.id }} {
      display: inline-block;
      position: relative;
    }
    .hover-underline-{{ section.id }}::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scale(0);
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: {{ section.settings.navlist_hover_color }};
      transform-origin: bottom right;
      transition: transform .15s ease-out;
    }
    .hover-underline-{{ section.id }}:hover::after {
      transform: scale(1);
      transform-origin: bottom left;
    }
  {% endif %}

  /* IF SHOW ACTIVE MENU */
  {% if section.settings.show_active_menu %}
    .is-active {
      color: {{ section.settings.navlist_hover_color }} !important;
    }
  {% endif %}


  /* TOOLTIP */
  .nav-container-{{ section.id }} li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  {% if section.settings.en_tooltip %}
    .icon {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .tooltip {
      font-size: 12px;
      position: absolute;
      bottom: -14px;
      /* left: 0; */
      color: {{ section.settings.navlist_hover_color }};
      /* color: red; */
      pointer-events: none;
      opacity: 0;
      transition: opacity .25s ease-in-out;

      text-align: center;
    }

    .icon:hover .tooltip {
      opacity: 1;
    }
  {% else %}
    .tooltip {
      display: none;
    }
  {% endif %}

  /* BREAKPOINTS */
  @media screen and (max-width: 1260px) {
    .navbar-{{ section.id }} {
      min-width: 90vw;
    }
  }

  @media screen and (max-width: 768px) {
    .menu-items {
      width: 50%;
      position: absolute;
      justify-content: space-around;
      top: {{ section.settings.section_height}}px;
      /* top: 0; */
      right: 0;
      padding: 0 20px;
      flex-direction: column;
      background: {{ section.settings.navbar_background_color }};
      border-radius: 5px;
      display: none;
      box-shadow: 0 0 8px rgba(0,0,0,0.3);
      border: 1px solid #ccc;
      z-index: 9;
    }



    .menu-items li {
      padding: 10px 0;
    }

    .menu-active {
      display: block;
    }

    .bx-menu {
      display: block;
    }

    .navbar-{{ section.id }} .search-form {
      width: 50%;
    }
  }

  @media screen and (max-width: 500px) {
    .menu-items {
      width: 100%;
    }

    .navbar-{{ section.id }} .search-form {
      width: 100%;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Navbar",
  "class": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "section_width",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "vw",
      "label": "Section Width",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_height",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Navbar Height",
      "default": 60
    },
    {
      "type": "range",
      "id": "logo_size",
      "min": 10,
      "max": 110,
      "step": 1,
      "unit": "px",
      "label": "Logo Size",
      "default": 50
    },
    {
      "type": "range",
      "id": "navbar_bottom_margin",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Navbar Bottom Margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "store_name_size",
      "min": 8,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Store Name Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "navlist_font_size",
      "min": 8,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Menu Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 8,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Icon Size",
      "default": 24
    },
    {
      "type": "range",
      "id": "sticky_nav_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Sticky Navbar Opacity",
      "default": 100
    },
    {
      "type": "color",
      "id": "navbar_background_color",
      "label": "Navbar Background",
      "default": "#f5f5f5"
    },
    {
      "type": "color",
      "id": "store_name_color",
      "label": "Store Name Font Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "navlist_font_color",
      "label": "Menu Font Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "navlist_hover_color",
      "label": "Menu Hover Color",
      "default": "#f57224"
    },
    {
      "type": "color",
      "id": "sticky_nav_color",
      "label": "Sticky Navbar Color",
      "default": "#f5f5f5"
    },
    {
      "type": "text",
      "id": "store_name",
      "default": "Store name",
      "label": "Store Name"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo Position",
      "options": [
        {
          "value": "column",
          "label": "Logo Top / Store Name Bottom"
        },
        {
          "value": "row",
          "label": "Logo Left / Store Name Right"
        },
        {
          "value": "column-reverse",
          "label": "Store Name Top / Logo Bottom"
        },
        {
          "value": "row-reverse",
          "label": "Store Name Left / Logo Right"
        }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "store_name_font_weight",
      "label": "Store Name Font Weight",
      "options": [
        {
          "value": "100",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "navlist_font_weight",
      "label": "Menu Font Weight",
      "options": [
        {
          "value": "100",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "checkbox",
      "id": "en_tooltip",
      "label": "Enable Icon Tooltip",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "navbar_fixed_position",
      "label": "Navbar Fixed Position",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hover_underline",
      "label": "Hover Underline",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_active_menu",
      "label": "Show Active Menu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "Show Bottom Border",
      "default": false
    }
  ]
}
{% endschema %}


<script>
  {% comment %} stiky navbar {% endcomment %}
  window.addEventListener('scroll', () => {
    let nav = document.querySelector('nav');
    nav.classList.toggle('sticky', window.scrollY > 0);
  });

  
  {% comment %} search toggle {% endcomment %}
  const searchForm = document.querySelector('.search-form');
  document.querySelector('#search_btn').onclick = () => {
    searchForm.classList.toggle('search-active');
  };


  {% comment %} menu toggle {% endcomment %}
  const menuIcon = document.querySelector('.bx-menu');
  const menuItems = document.querySelector('.menu-items');
  menuIcon.onclick = () => {
    menuIcon.classList.toggle('bx-x');
    menuItems.classList.toggle('menu-active');
  };

  {% comment %} IS ACTIVE {% endcomment %}
  document.querySelectorAll(".link-{{ section.id }} li a").forEach((link) => {
    if (link.href === window.location.href) {
        link.classList.add("is-active");
    }
});

</script>