
<section>
  <div class="banner-area" id="banner">
    <div class="slider-{{ section.id }}">

      {% comment %} Rendering block {% endcomment %}
      <div class="text-overlay-{{ section.id }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'slider_content_heading'%}
              <h1>{{ block.settings.title }}</h1>
            {% when 'slider_content_desc' %}
              <p class="description-1">{{ block.settings.description }}</p>
            {% when 'slider_content_url' %}
              <a class="button" href="{{ block.settings.button_link}}">{{ block.settings.button_label }}</a>
          {% endcase %}
        {% endfor %}
      </div>

      <div class="overlay-{{ section.id }}"></div>
      <div class="slides">
        {% comment %} RADIO BUTTONS FOR IMAGE SLIDER {% endcomment %}
        <input type="radio" name="radio-btn" id="radio-1">
        <input type="radio" name="radio-btn" id="radio-2">
        <input type="radio" name="radio-btn" id="radio-3">
        <input type="radio" name="radio-btn" id="radio-4">

        {% comment %} IMAGE SLIDER START ------------------------------------------------------- {% endcomment %}
        {% comment %} If no selected image  {% endcomment %}
        {% if section.settings.image_1 == blank and 
          section.settings.image_2 == blank and 
          section.settings.image_3 == blank and 
          section.settings.image_4 == blank
        %}
          <div class="slide first">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% comment %} <img src="{{ 'vegetable-skewer.jpg' | asset_url }}" alt=""> {% endcomment %}
          </div>
          <div class="slide">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% comment %} <img src="{{ 'vegetables.jpg' | asset_url }}" alt=""> {% endcomment %}
          </div>
          <div class="slide">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% comment %} <img src="{{ 'vegetables-2.jpg' | asset_url }}}" alt=""> {% endcomment %}
          </div>
          <div class="slide">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% comment %} <img src="{{ 'vegetables-3.jpg' | asset_url }}" alt=""> {% endcomment %}
          </div>
        {% else %}
          <div class="slide first">
            <img src="{{ section.settings.image_1 | img_url: 'master'}}" alt="">
          </div>
          <div class="slide">
            <img src="{{ section.settings.image_2 | img_url: 'master'}}" alt="">
          </div>
          <div class="slide">
            <img src="{{ section.settings.image_3 | img_url: 'master'}}" alt="">
          </div>
          <div class="slide">
            <img src="{{ section.settings.image_4 | img_url: 'master'}}" alt="">
          </div>
        {% endif %}

        {% comment %} <div class="slide first">
          <img src="{{ section.settings.image_1 | img_url: 'master'}}" alt="">
        </div>
        <div class="slide">
          <img src="{{ section.settings.image_2 | img_url: 'master'}}" alt="">
        </div>
        <div class="slide">
          <img src="{{ section.settings.image_3 | img_url: 'master'}}" alt="">
        </div>
        <div class="slide">
          <img src="{{ section.settings.image_4 | img_url: 'master'}}" alt="">
        </div> {% endcomment %}
      
        {% comment %} SLIDER AUTO NAVIGATION {% endcomment %}
        <div class="auto-navigation">
          <div class="auto-btn-1"></div>
          <div class="auto-btn-2"></div>
          <div class="auto-btn-3"></div>
          <div class="auto-btn-4"></div>
        </div>

        {% comment %} SLIDER MANUAL NAVIGATION {% endcomment %}
        <div class="manual-nagivation">
          <label for="radio-1" class="manual-btn"></label>
          <label for="radio-2" class="manual-btn"></label>
          <label for="radio-3" class="manual-btn"></label>
          <label for="radio-4" class="manual-btn"></label>
        </div>
    </div>
    {% comment %} IMAGE SLIDER END ------------------------------------------------------------- {% endcomment %}
  </div>
</section>


{% style %}
  /* Schema and blocks settings */
  .text-overlay-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 90;
  }

  /* Section overlay */
  .overlay-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: {{ section.settings.image_slider_overlay_color }};
    opacity: {{ section.settings.image_slider_overlay_opacity | divided_by: 100.0 }};
  }

  /* Section height */
  {% if section.settings.image_slider_banner_size == 900 %}
    .slider-{{ section.id }} {
      height: 100vh !important;
    }
  {% else %}
    .slider-{{ section.id }} {
      height: {{ section.settings.image_slider_banner_size }}px !important;
    }
  {% endif %}


  /* SPECIFIC FOR IMAGE SLIDER FUNCTION START -----------------------------------------------------  */
  .slider-{{ section.id }} {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: {{ section.settings.image_slider_background_color }};
  }

  /* Width is proportion to how many image to slide, each image is consuming a total of 20% width */
  .slides {
    width: 800%;
    display: flex;
    overflow: hidden;
  }

  /* This is the sliding action and animation speed */
  .slide {
    width: 20%;
    transition: 1s;
  }

  .slider-{{ section.id }} input {
    display: none;
  }

  /* Sliding image and placeholder */
  .slide svg,
  .slide img {
    width: 65%;
    height: 100vh;
    object-fit: cover;
  }

  /* Slider button container */
  .manual-nagivation {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    z-index: 99;
  }

  .manual-btn {
    border: 2px solid {{ section.settings.image_slide_indicator_border }};
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.30s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background: #fff;
  }

  #radio-1:checked ~ .first {
    margin-left: 0;
  }

  #radio-2:checked ~ .first {
    margin-left: -20%;
  }

  #radio-3:checked ~ .first {
    margin-left: -40%;
  }

  #radio-4:checked ~ .first {
    margin-left: -60%;
  }

  .auto-navigation {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .auto-navigation div {
    border: 2px solid {{ section.settings.image_slide_indicator_border }};
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
  }

  .auto-navigation div:not(:last-child) {
    margin-right: 40px;
  }

  #radio-1:checked ~ .auto-navigation .auto-btn-1 {
    background: {{ section.settings.image_slide_indicator_background }};
  }

  #radio-2:checked ~ .auto-navigation .auto-btn-2 {
    background: {{ section.settings.image_slide_indicator_background }};
  }

  #radio-3:checked ~ .auto-navigation .auto-btn-3 {
    background: {{ section.settings.image_slide_indicator_background }};
  }

  #radio-4:checked ~ .auto-navigation .auto-btn-4 {
    background: {{ section.settings.image_slide_indicator_background }};
  }
  /* IMAGE SLIDER END ---------------------------------------------------- */

  /* Rendering blocks styles */
  {% for block in section.blocks %}
    .text-overlay-{{ section.id }} h1 {
      font-size: {{ block.settings.heading_font_size }}px;
      transform: translateY({{ block.settings.heading_y_position }}px);
      font-weight: {{ block.settings.heading_font_weight }};
      color: {{ block.settings.heading_font_color }};
    }
    
    /* If text shadow */
    {% if block.settings.heading_show_text_shadow == true %}
      .text-overlay-{{ section.id }} h1 {
        text-shadow: {{ block.settings.heading_text_shadow_position_x }}px {{ block.settings.heading_text_shadow_position_y }}px {{ block.settings.heading_text_shadow_spread_size }}px {{ block.settings.heading_text_shadow_color }};
      }
    {% endif %}

    /* Section description */
    .text-overlay-{{ section.id }} .description-1 {
      font-size: {{ block.settings.description_font_size }}px;
      font-weight: {{ block.settings.description_font_weight }};
      color: {{ block.settings.description_font_color }};
      padding: {{ block.settings.description_padding_y }}px 0;
    }

    /* Section button */
    .text-overlay-{{ section.id }} .button {
      color: {{ block.settings.button_font_color }};
      background: {{ block.settings.button_background_color }};
      padding: {{ block.settings.button_size }}px {{ block.settings.button_size | times: 3 }}px;
      font-size: {{ block.settings.button_font_size }}px;
      margin: 2rem;
      border-radius: {{ block.settings.button_border_radius }}px;
      transition: all .15s ease-in-out;
    }

    /* If button shadow */
    {% if block.settings.button_show_border == true %}
      .text-overlay-{{ section.id }} .button {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }
      
      .text-overlay-{{ section.id }} .button:hover {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    {% endif %}

    /* If transparent button */
    {% if block.settings.transparent_button == true %}
      .text-overlay-{{ section.id }} .button {
        background: transparent !important;
      }
    {% endif %}

    /* button hover */
    .text-overlay-{{ section.id }} .button:hover {
      box-shadow: var(--shadow);
      color: {{ block.settings.button_font_hover_color }};
      background: {{ block.settings.button_hover_color }};
    }

    /* If button shadow */
    {% if block.settings.button_show_shadow == true %}
      .text-overlay-{{ section.id }} .button:hover {
        box-shadow: {{ block.settings.button_shadow_position_x }}px 
          {{ block.settings.button_shadow_position_y }}px 
          {{ block.settings.button_shadow_spread_size }}px 
          {{ block.settings.button_shadow_color }};
      }
    {% endif %}

      /* If button text shadows */
    {% if block.settings.button_text_shadow == true %}
      .text-overlay-{{ section.id }} .button:hover {
        text-shadow: {{ block.settings.button_text_shadow_position_x }}px 
          {{ block.settings.button_text_shadow_position_y }}px 
          {{ block.settings.button_text_shadow_spread_size }}px 
          {{ block.settings.button_text_shadow_color }};
      }
    {% endif %}
  {% endfor %}

  /* BLOCKS */


  @media screen and (max-width: 768px) {
    .text-overlay-{{ section.id }} h1 {
      font-size: 96px;
    }

    .text-overlay-{{ section.id }} .description-1 {
      font-size: 40px;
      text-align: center;
    }

    .text-overlay-{{ section.id }} .button {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 600px) {
    .text-overlay-{{ section.id }} h1 {
      font-size: 48px;
    }

    .text-overlay-{{ section.id }} .description-1 {
      font-size: 24px;
    }

    .text-overlay-{{ section.id }} .button {
      font-size: 12px;
    }
  }
{% endstyle %}


{% schema %}
{
  "name": "Image Slider",
  "class": "banner",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image Slide 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image Slide 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image Slide 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image Slide 4"
    },
    {
      "type": "range",
      "id": "image_slider_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image Overlay Opacity",
      "default": 0
    },
    {
      "type": "color",
      "id": "image_slider_overlay_color",
      "label": "Overlay Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "image_slider_background_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "image_slide_indicator_border",
      "label": "Slide Indicator Border Color",
      "default": "#2e393d"
    },
    {
      "type": "color",
      "id": "image_slide_indicator_background",
      "label": "Slide Indicator Background Color",
      "default": "#2e393d"
    },
    {
      "type": "select",
      "id": "image_slider_banner_size",
      "label": "Image Banner Size",
      "options": [
        {
          "value": "400",
          "label": "Small"
        },
        {
          "value": "600",
          "label": "Medium"
        },
        {
          "value": "800",
          "label": "Large"
        },
        {
          "value": "900",
          "label": "Full Height"
        }
      ],
      "default": "600"
    }
  ],
  "blocks": [
    {
      "type": "slider_content_heading",
      "name": "Heading",
      "settings": [
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 24,
          "max": 128,
          "step": 2,
          "unit": "px",
          "label": "Heading Font Size",
          "default": 50
        },
        {
          "type": "range",
          "id": "heading_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "heading_font_color",
          "label": "Heading Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "heading_text_shadow_color",
          "label": "Heading Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Main Heading",
          "label": "Heading Title"
        },
        {
          "type": "number",
          "id": "heading_y_position",
          "label": "Heading Y Position",
          "default": 0
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "500",
              "label": "Bold"
            }
          ],
          "default": "400"
        },
        {
          "type": "checkbox",
          "id": "heading_show_text_shadow",
          "label": "Show Text Shadow",
          "default": false
        }
      ]
    },
    {
      "type": "slider_content_desc",
      "name": "Description",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "description",
          "default": "Store Description",
          "label": "Store Description"
        },
        {
          "type": "range",
          "id": "description_font_size",
          "min": 14,
          "max": 64,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "description_padding_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Y",
          "default": 10
        },
        {
          "type": "color",
          "id": "description_font_color",
          "label": "Font Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "description_font_weight",
          "label": "Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "500",
              "label": "Bold"
            }
          ],
          "default": "400"
        }
      ]
    },
    {
      "type": "slider_content_url",
      "name": "Button",
      "settings": [
        {
          "type": "range",
          "id": "button_border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Border Radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 5,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Size",
          "default": 10
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Button Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Border Thickness",
          "default": 1
        },
        {
          "type": "range",
          "id": "button_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position X",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "button_font_color",
          "label": "Font Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Background Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_font_hover_color",
          "label": "Hover Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_hover_color",
          "label": "Hover Background Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_border_hover_color",
          "label": "Button Border Hover Color",
          "default": "#f57224"
        },
        {
          "type": "color",
          "id": "button_shadow_color",
          "label": "Button Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_text_shadow_color",
          "label": "Button Text Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button URL"
        },
        {
          "type": "checkbox",
          "id": "transparent_button",
          "label": "Transparent Button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_border",
          "label": "Show Button Border",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_shadow",
          "label": "Show Button Shadow",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_text_shadow",
          "label": "Show Button Text Shadow",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "banner",
      "name": "Image Slider",
      "blocks": [
        {
          "type": "slider_content_heading"
        },
        {
          "type": "slider_content_desc"
        },
        {
          "type": "slider_content_url"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  let counter = 1;

  setInterval(() => {
    document.getElementById('radio-' + counter).checked = true;
    counter++;
    if (counter > 4) {
      counter = 1;
    }
  }, 5000);
</script>
