<section class="{{ section.id }}">
  <div class="section-container">
    {% comment %} Image container {% endcomment %}
    <div class="image-container-{{ section.id }}">
      {% comment %} If image picker is not blank {% endcomment %}
      {% if section.settings.image_picker != blank %}
        <img src="{{ section.settings.image_picker | img_url: 'master' }}" alt="">
      {% else %}
        {{ 'product-5' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    {% comment %} Text Container {% endcomment %}
    <div class="text-container-{{ section.id }}">
      {% comment %} Rendering block {% endcomment %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text_heading' %}
            <h2>{{ block.settings.title }}</h2>
          {% when 'text_content_desc' %}
            <p>{{ block.settings.description }}</p>
          {% when 'text_content_url' %}
            <div class="button-container">
              <a class="button" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  /* section */
  .{{ section.id }} {
    padding: {{ section.settings.section_padding_y }}px 0;
    background: {{ section.settings.section_background_color }};
  }

  /* Section container */
  .{{ section.id }} .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: {{ section.settings.section_width }}vw;
    max-width: 1920px;
    height: {{ section.settings.section_size }}px;
    overflow: hidden;

    /* Image placement */
    flex-direction: {{ section.settings.desktop_image_placement}};
  }

  /* Image container ----------------------------------- */
  section .image-container-{{ section.id }} {
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: {{ section.settings.image_background_color }};
  }

  .image-container-{{ section.id }} img,
  .image-container-{{ section.id }} svg {
    object-fit: cover;
    border-radius: {{ section.settings.image_border_radius }}px;
  }

  /* If image fit by */
  {% if section.settings.image_fit_by == 'width' %}
    .image-container-{{ section.id }} img,
    .image-container-{{ section.id }} svg {
      width: {{ section.settings.image_size }}%;
    }
  {% else %}
    .image-container-{{ section.id }} img,
    .image-container-{{ section.id }} svg {
      height: {{ section.settings.image_size }}%;
    }
  {% endif %}

  /* If image shadow */
  {% if section.settings.show_image_shadow == true %}
    .image-container-{{ section.id }} img,
    .image-container-{{ section.id }} svg {
        box-shadow: {{ section.settings.image_shadow_position_x }}px {{ section.settings.image_shadow_position_y }}px {{ section.settings.image_shadow_spread_size }}px {{ section.settings.image_shadow_color }};
      }
    {% endif %}

  /* Text container ------------------------------------- */
  section .text-container-{{ section.id }} {
    display: flex;
    align-items: {{ section.settings.text_content_alignment }};
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 20px;

    background: {{ section.settings.text_background_color }};
  }
  /*  Rendering blocks styles */
  {% for block in section.blocks %}
    /* Content title */
    .text-container-{{ section.id }} h2 {
      font-size: {{ block.settings.heading_font_size }}px;
      color: {{ block.settings.heading_font_color }};
      font-weight: {{ block.settings.heading_font_weight }};
      transform: translateY({{ block.settings.heading_y_position }}px);
    }

    /* If title shadow */
    {% if block.settings.heading_show_text_shadow == true %}
      .text-container-{{ section.id }} h2 {
        text-shadow: {{ block.settings.heading_text_shadow_position_x }}px {{ block.settings.heading_text_shadow_position_y }}px {{ block.settings.heading_text_shadow_spread_size }}px {{ block.settings.heading_text_shadow_color }};
      }
    {% endif %}


    /* Text content description */
    .text-container-{{ section.id }} p {
      font-size: {{ block.settings.description_font_size }}px;
      color: {{ block.settings.description_font_color }};
      font-weight: {{ block.settings.description_font_weight }};
      padding: {{ block.settings.description_padding_y }}px 0;

      /* text-align: center; */
      /* line-height: 2; */
    }

    /* Content description position  */
    {% if section.settings.text_content_alignment == 'flex-start' %}
      .text-container-{{ section.id }} p {
        text-align: left;
      }
    {% elsif section.settings.text_content_alignment == 'flex-end' %}
      .text-container-{{ section.id }} p {
          text-align: right;
        }
    {% else %}
      .text-container-{{ section.id }} p {
          text-align: center;
        }
    {% endif %}


    /* Content button */
    .text-container-{{ section.id }} .button {
      display: block;
      color: {{ block.settings.button_font_color }};
      background: {{ block.settings.button_background_color }};
      padding: {{ block.settings.button_size }}px {{ block.settings.button_size | times: 3 }}px;
      font-size: {{ block.settings.button_font_size }}px;
      margin: 2rem 0;
      border-radius: {{ block.settings.button_border_radius }}px;
      transition: all 0.{{ block.settings.button_transition_duration }}s ease-out;
    }

    /* If button border */
    {% if block.settings.button_show_border == true %}
      .text-container-{{ section.id }} .button {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }

      .text-container-{{ section.id }} .button:hover {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    {% endif %}

    /* If transparent button */
    {% if block.settings.transparent_button == true %}
      .text-container-{{ section.id }} .button {
        background: transparent !important;
      }
    {% endif %}

    .text-container-{{ section.id }} .button:hover {
      color: {{ block.settings.button_font_hover_color }};
      background: {{ block.settings.button_hover_color }};
      /* box-shadow: var(--shadow); */
    }

    /* If button shadow */
    {% if block.settings.button_show_shadow == true %}
      .text-container-{{ section.id }} .button:hover {
        box-shadow: {{ block.settings.button_shadow_position_x }}px
          {{ block.settings.button_shadow_position_y }}px
          {{ block.settings.button_shadow_spread_size }}px
          {{ block.settings.button_shadow_color }};
      }
    {% endif %}

    /* If button text shadows */
    {% if block.settings.button_text_shadow == true %}
      .text-container-{{ section.id }} .button:hover {
        text-shadow: {{ block.settings.button_text_shadow_position_x }}px
          {{ block.settings.button_text_shadow_position_y }}px
          {{ block.settings.button_text_shadow_spread_size }}px
          {{ block.settings.button_text_shadow_color }};
      }
    {% endif %}
  {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Image With Text",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_picker",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "section_width",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "vw",
      "label": "Section Width",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding Y",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_size",
      "min": 50,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image Size",
      "default": 100
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Image Border Radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_shadow_spread_size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Image Shadow Spread",
      "default": 8
    },
    {
      "type": "range",
      "id": "image_shadow_position_y",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Image Shadow Position Y",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_shadow_position_x",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Image Shadow Position X",
      "default": 0
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Section Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "image_background_color",
      "label": "Image Background Color",
      "default": "#f5f5f5"
    },
    {
      "type": "color",
      "id": "text_background_color",
      "label": "Text Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "image_shadow_color",
      "label": "Image Shadow Color",
      "default": "#ccc"
    },
    {
      "type": "select",
      "id": "desktop_image_placement",
      "label": "Desktop Image Placement",
      "options": [
        {
          "value": "row",
          "label": "Image First"
        },
        {
          "value": "row-reverse",
          "label": "Image Second"
        }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "Section Size",
      "options": [
        {
          "value": "400",
          "label": "Small"
        },
        {
          "value": "600",
          "label": "Medium"
        },
        {
          "value": "800",
          "label": "Large"
        },
        {
          "value": "900",
          "label": "Full Height"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "text_content_alignment",
      "label": "Text Content Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "select",
      "id": "image_fit_by",
      "label": "Image Fit By",
      "options": [
        {
          "value": "width",
          "label": "Width"
        },
        {
          "value": "height",
          "label": "Height"
        }
      ],
      "default": "width"
    },
    {
      "type": "checkbox",
      "id": "show_image_shadow",
      "label": "Show Image Shadow",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text_heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Image With Text",
          "label": "Heading Title"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 24,
          "max": 70,
          "step": 2,
          "unit": "px",
          "label": "Heading Font Size",
          "default": 30
        },
        {
          "type": "range",
          "id": "heading_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "heading_font_color",
          "label": "Heading Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "heading_text_shadow_color",
          "label": "Heading Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "number",
          "id": "heading_y_position",
          "label": "Heading Y Position",
          "default": 0
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "200",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "600",
              "label": "Bold"
            }
          ],
          "default": "400"
        },
        {
          "type": "checkbox",
          "id": "heading_show_text_shadow",
          "label": "Show Text Shadow",
          "default": false
        }
      ]
    },
    {
      "type": "text_content_desc",
      "name": "Description",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "description",
          "default": "Pair text with an image to focus on your chosen product.",
          "label": "Store Description"
        },
        {
          "type": "range",
          "id": "description_font_size",
          "min": 14,
          "max": 64,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "description_padding_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Y",
          "default": 0
        },
        {
          "type": "color",
          "id": "description_font_color",
          "label": "Font Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "description_font_weight",
          "label": "Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "200",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "600",
              "label": "Bold"
            }
          ],
          "default": "400"
        }
      ]
    },
    {
      "type": "text_content_url",
      "name": "Button",
      "settings": [
        {
          "type": "range",
          "id": "button_transition_duration",
          "min": 1,
          "max": 99,
          "step": 1,
          "unit": "ms",
          "label": "Transition Duration",
          "default": 5
        },
        {
          "type": "range",
          "id": "button_border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Border Radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 5,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Size",
          "default": 10
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Button Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Border Thickness",
          "default": 1
        },
        {
          "type": "range",
          "id": "button_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position X",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "button_font_color",
          "label": "Font Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Background Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_font_hover_color",
          "label": "Hover Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_hover_color",
          "label": "Hover Background Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_border_hover_color",
          "label": "Button Border Hover Color",
          "default": "#f57224"
        },
        {
          "type": "color",
          "id": "button_shadow_color",
          "label": "Button Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_text_shadow_color",
          "label": "Button Text Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button URL"
        },
        {
          "type": "checkbox",
          "id": "transparent_button",
          "label": "Transparent Button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_border",
          "label": "Show Button Border",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_shadow",
          "label": "Show Button Shadow",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_text_shadow",
          "label": "Show Button Text Shadow",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "section",
      "name": "Image With Text",
      "blocks": [
        {
          "type": "text_heading"
        },
        {
          "type": "text_content_desc"
        },
        {
          "type": "text_content_url"
        }
      ]
    }
  ]
}
{% endschema %}

<script></script>
