<section class="{{ section.id }}">
  <div class="section-container-{{ section.id }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'richtext_content_heading' %}
          <h2>{{ block.settings.title }}</h2>
        {% when 'richtext_content_desc' %}
          <p>{{ block.settings.description }}</p>
        {% when 'richtext_content_url' %}
          <div class="button-container">
            <a class="button" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
          </div>
        {% when 'caption' %}
          <p>Add a Tagline</p>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% style %}
  /* Section */
  .{{ section.id }} {
    background: {{ section.settings.section_background_color }};
  }

  /* Section container */
  section .section-container-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ section.settings.section_content_alignment }};
    justify-content: center;
    padding-left: {{ section.settings.section_padding_x | times: 3 }}px;
    padding-right: {{ section.settings.section_padding_x | times: 3 }}px;
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    margin-bottom: {{ section.settings.section_margin_x | times: 3 }}px;
    width: {{ section.settings.richtext_width }}vw;
    max-width: 1920px;
    margin: 0 auto;
  }

  /* Rendering blocks */
  {% for block in section.blocks %}

    /* Content title */
    .section-container-{{ section.id }} h2 {
      font-size: {{ block.settings.heading_font_size }}px;
      color: {{ block.settings.heading_font_color }};
      font-weight: {{ block.settings.heading_font_weight }};
      transform: translateY({{ block.settings.heading_y_position }}px);
    }

    /* If title shadow */
    {% if block.settings.heading_show_text_shadow == true %}
      .section-container-{{ section.id }} h2 {
        text-shadow: {{ block.settings.heading_text_shadow_position_x }}px {{ block.settings.heading_text_shadow_position_y }}px {{ block.settings.heading_text_shadow_spread_size }}px {{ block.settings.heading_text_shadow_color }};
      }
    {% endif %}

    /* Content descrition */
    .section-container-{{ section.id }} p {
      font-size: {{ block.settings.description_font_size }}px;
      color: {{ block.settings.description_font_color }};
      font-weight: {{ block.settings.description_font_weight }};
      padding: {{ block.settings.description_padding_y }}px 0;
      /* line-height: 2; */
    }

    /* Content description position  */
    {% if section.settings.section_content_alignment == 'flex-start' %}
      .section-container-{{ section.id }} p {
        text-align: left;
      }
    {% elsif section.settings.section_content_alignment == 'flex-end' %}
      .section-container-{{ section.id }} p {
          text-align: right;
        }
    {% else %}
      .section-container-{{ section.id }} p {
          text-align: center;
        }
    {% endif %}

    /* Content button */
    .section-container-{{ section.id }} .button {
      display: block;
      color: {{ block.settings.button_font_color }};
      background: {{ block.settings.button_background_color }};
      padding: {{ block.settings.button_size }}px {{ block.settings.button_size | times: 3 }}px;
      font-size: {{ block.settings.button_font_size }}px;
      margin: 2rem 0;
      border-radius: {{ block.settings.button_border_radius }}px;
      transition: all 0.{{ block.settings.button_transition_duration }}s ease-out;
    }

    /* If button border */
    {% if block.settings.button_show_border == true %}
      .section-container-{{ section.id }} .button {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }
      
      .section-container-{{ section.id }} .button:hover {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    {% endif %}

    /* If transparent button */
    {% if block.settings.transparent_button == true %}
      .section-container-{{ section.id }} .button {
        background: transparent !important;
      }
    {% endif %}

    .section-container-{{ section.id }} .button:hover {
      color: {{ block.settings.button_font_hover_color }};
      background: {{ block.settings.button_hover_color }};
      /* box-shadow: var(--shadow); */
    }

    /* If button shadow */
    {% if block.settings.button_show_shadow == true %}
      .section-container-{{ section.id }} .button:hover {
        box-shadow: {{ block.settings.button_shadow_position_x }}px 
          {{ block.settings.button_shadow_position_y }}px 
          {{ block.settings.button_shadow_spread_size }}px 
          {{ block.settings.button_shadow_color }};
      }
    {% endif %}

    /* If button text shadows */
    {% if block.settings.button_text_shadow == true %}
      .section-container-{{ section.id }} .button:hover {
        text-shadow: {{ block.settings.button_text_shadow_position_x }}px 
          {{ block.settings.button_text_shadow_position_y }}px 
          {{ block.settings.button_text_shadow_spread_size }}px 
          {{ block.settings.button_text_shadow_color }};
      }
    {% endif %}


  {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Rich Text",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "section_content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "richtext_width",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "vw",
      "label": "Section Width",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding Y",
      "default": 32
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding X",
      "default": 10
    },
    {
      "type": "range",
      "id": "section_margin_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Bottom Margin",
      "default": 0
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Section Background Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "richtext_content_heading",
      "name": "Heading",
      "settings": [
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 24,
          "max": 128,
          "step": 2,
          "unit": "px",
          "label": "Heading Font Size",
          "default": 50
        },
        {
          "type": "range",
          "id": "heading_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "heading_font_color",
          "label": "Heading Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "heading_text_shadow_color",
          "label": "Heading Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Talk About Your Store",
          "label": "Heading Title"
        },
        {
          "type": "number",
          "id": "heading_y_position",
          "label": "Heading Y Position",
          "default": 0
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "200",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "600",
              "label": "Bold"
            }
          ],
          "default": "400"
        },
        {
          "type": "checkbox",
          "id": "heading_show_text_shadow",
          "label": "Show Text Shadow",
          "default": false
        }
      ]
    },
    {
      "type": "richtext_content_desc",
      "name": "Description",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "description",
          "default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.",
          "label": "Store Description"
        },
        {
          "type": "range",
          "id": "description_font_size",
          "min": 14,
          "max": 64,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "description_padding_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding Y",
          "default": 10
        },
        {
          "type": "color",
          "id": "description_font_color",
          "label": "Font Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "description_font_weight",
          "label": "Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "200",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "600",
              "label": "Bold"
            }
          ],
          "default": "400"
        }
      ]
    },
    {
      "type": "richtext_content_url",
      "name": "Button",
      "settings": [
        {
          "type": "range",
          "id": "button_transition_duration",
          "min": 1,
          "max": 99,
          "step": 1,
          "unit": "ms",
          "label": "Transition Duration",
          "default": 5
        },
        {
          "type": "range",
          "id": "button_border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Border Radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 5,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Size",
          "default": 10
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Button Font Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Border Thickness",
          "default": 1
        },
        {
          "type": "range",
          "id": "button_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Shadow Position X",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_text_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Text Shadow Position X",
          "default": 0
        },
        {
          "type": "color",
          "id": "button_font_color",
          "label": "Font Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Background Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_font_hover_color",
          "label": "Hover Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_hover_color",
          "label": "Hover Background Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_border_hover_color",
          "label": "Button Border Hover Color",
          "default": "#f57224"
        },
        {
          "type": "color",
          "id": "button_shadow_color",
          "label": "Button Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "color",
          "id": "button_text_shadow_color",
          "label": "Button Text Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button URL"
        },
        {
          "type": "checkbox",
          "id": "transparent_button",
          "label": "Transparent Button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_border",
          "label": "Show Button Border",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_shadow",
          "label": "Show Button Shadow",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_text_shadow",
          "label": "Show Button Text Shadow",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "text",
      "name": "Rich Text",
      "blocks": [
        {
          "type": "richtext_content_heading"
        },
        {
          "type": "richtext_content_desc"
        },
        {
          "type": "richtext_content_url"
        }
      ]
    }
  ]
}
{% endschema %}
