<section>
  <div class="section-container-{{ section.id }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <h2>{{ block.settings.heading }}</h2>
        {% when 'text' %}
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odit?</p>
        {% when 'url' %}
          <div class="button-container">
            <a class="button" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
          </div>
        {% when 'caption' %}
          <p>Add a Tagline</p>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% style %}
  /* SECTION */
  section .section-container-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ section.settings.section_content_alignment }};
    justify-content: center;
    padding-left: {{ section.settings.section_padding_y | times: 3 }}px;
    padding-right: {{ section.settings.section_padding_y | times: 3 }}px;
    padding-top: {{ section.settings.section_padding_x }}px;
    padding-bottom: {{ section.settings.section_padding_x }}px;
    margin-bottom: {{ section.settings.section_margin_x | times: 3 }}px;
    background: {{ section.settings.section_background_color }};
  }

  {% for block in section.blocks %}
    /* HEADING */
    .section-container-{{ section.id }} h2 {
      font-size: {{ block.settings.heading_font_size }}px;
      font-weight: {{ block.settings.heading_font_weight }};
      color: {{ block.settings.heading_font_color }};
    }

    /* IF HEADING SHADOW */
    {% if block.settings.heading_show_text_shadow == true %}
      .section-container-{{ section.id }} h2 {
        text-shadow: {{ block.settings.heading_shadow_position_x }}px {{ block.settings.heading_shadow_position_y }}px {{ block.settings.heading_shadow_spread_size }}px {{ block.settings.heading_shadow_color}};
      }
    {% endif %}

    /* TEXT */
    .section-container-{{ section.id }} p {
      font-size: {{ block.settings.text_font_size }}px;
      font-weight: {{ block.settings.text_font_weight }};
      color: {{ block.settings.text_font_color }};
    }

    /* BUTTON URL */
    .section-container-{{ section.id }} .button {
      color: {{ block.settings.button_font_color }};
      background: {{ block.settings.button_background_color }};
      padding: {{ block.settings.button_size }}px {{ block.settings.button_size | times: 3 }}px;
      font-size: {{ block.settings.button_font_size }}px;
      border-radius: {{ block.settings.button_border_radius }}px;
      transition: all 0.{{ block.settings.button_transition_duration }}s ease-out;
    }
    
    .section-container-{{ section.id }} .button-container {
      margin: 2rem 0;
    }

    {% if block.settings.button_show_border == true %}
      .section-container-{{ section.id }} .button {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }
      
      .section-container-{{ section.id }} .button:hover {
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    {% endif %}

    {% if block.settings.transparent_button == true %}
      .section-container-{{ section.id }} .button {
        background: transparent !important;
      }
    {% endif %}

    .section-container-{{ section.id }} .button:hover {
      box-shadow: var(--shadow);
      color: {{ block.settings.button_font_hover_color }};
      background: {{ block.settings.button_hover_color }};
    }


  {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Rich Text",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "section_content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding Y",
      "default": 10
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Padding X",
      "default": 10
    },
    {
      "type": "range",
      "id": "section_margin_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Section Bottom Margin",
      "default": 0
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Section Background Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "About your store",
          "label": "Section Heading"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Heading Font Size",
          "default": 24
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "700",
              "label": "Bold"
            }
          ],
          "default": "400"
        },
        {
          "type": "color",
          "id": "heading_font_color",
          "label": "Heading Font Color",
          "default": "#000"
        },
        {
          "type": "checkbox",
          "id": "heading_show_text_shadow",
          "label": "Show Text Shadow",
          "default": false
        },
        {
          "type": "color",
          "id": "heading_shadow_color",
          "label": "Heading Shadow Color",
          "default": "#ccc"
        },
        {
          "type": "range",
          "id": "heading_shadow_spread_size",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Spread",
          "default": 8
        },
        {
          "type": "range",
          "id": "heading_shadow_position_y",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position Y",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_shadow_position_x",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Heading Shadow Position X",
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "section_text",
          "default": "Lorem ipsum dolor sit amet, consectetur adipisicing.",
          "label": "Section Text"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 24
        },
        {
          "type": "select",
          "id": "text_font_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "Light"
            },
            {
              "value": "400",
              "label": "Regular"
            },
            {
              "value": "700",
              "label": "Bold"
            }
          ],
          "default": "400"
        },
        {
          "type": "color",
          "id": "text_font_color",
          "label": "Font Color",
          "default": "#000"
        }
      ]
    },
    {
      "type": "url",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button URL"
        },
        {
          "type": "color",
          "id": "button_font_color",
          "label": "Font Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Background Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_font_hover_color",
          "label": "Hover Font Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_hover_color",
          "label": "Hover Background Color",
          "default": "#ccc"
        },
        {
          "type": "range",
          "id": "button_transition_duration",
          "min": 1,
          "max": 99,
          "step": 1,
          "unit": "ms",
          "label": "Transition Duration",
          "default": 5
        },
        {
          "type": "range",
          "id": "button_border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Border Radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 5,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button Size",
          "default": 10
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Button Font Size",
          "default": 16
        },
        {
          "type": "checkbox",
          "id": "transparent_button",
          "label": "Transparent Button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_show_border",
          "label": "Show Button Border",
          "default": false
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Border Thickness",
          "default": 1
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_border_hover_color",
          "label": "Button Border Hover Color",
          "default": "#f57224"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "section",
      "name": "Rich Text"
    }
  ]
}
{% endschema %}
