<section>
  <form class="search" action="/search" method="GET" role="search">
    <input
      type="text"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="{{ section.settings.search_placeholder }}"
    >
  </form>
</section>

{% style %}
  section .search {
    padding: {{ section.settings.search_bar_size }}px {{ section.settings.search_bar_size | times: 3 }}px;
    background: {{ section.settings.search_bar_background_color}};
    border-radius: {{ section.settings.search_bar_border_radius }}px;
  }

  .search input {
    background: {{ section.settings.search_bar_background_color}};
    color: {{ section.settings.search_bar_font_color}};
  }
{% endstyle %}

{% schema %}
{
  "name": "Search Bar",
  "class": "searchbar",
  "settings": [
    {
      "type": "text",
      "id": "search_placeholder",
      "default": "Search",
      "label": "Search Bar Placeholder"
    },
    {
      "type": "color",
      "id": "search_bar_font_color",
      "label": "Search Bar Font Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "search_bar_border_color",
      "label": "Search Bar Border Color",
      "default": "#ccc"
    },
    {
      "type": "color",
      "id": "search_bar_background_color",
      "label": "Search Bar Background Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "show_search_bar",
      "label": "Show Search Bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_bar_show_background",
      "label": "Show Search Bar Border",
      "default": true
    },
    {
      "type": "range",
      "id": "search_bar_size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Search Bar Size",
      "default": 6
    },
    {
      "type": "range",
      "id": "search_bar_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Search Bar Border-Radius",
      "default": 0
    }
  ],
  "presets": [
    {
      "category": "search",
      "name": "Search"
    }
  ]
}
{% endschema %}
