<section>
  <div class="search-bar-container--{{ section.id }}">
    <form class="search" action="/search" method="GET" role="search">
      <input
        type="text"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="{{ section.settings.search_placeholder }}"
      >
    </form>
  </div>
</section>

{% style %}
  section .search-bar-container--{{ section.id }} {
    display: flex;
    justify-content: {{ section.settings.searchbar_position }};
    background: {{ section.settings.search_bar_container_color }};
    padding: {{ section.settings.search_bar_margin }}px;
    padding-bottom: {{section.settings.search_bar_margin_bottom }}px;
  }

  .search-bar-container--{{ section.id }} .search {
    padding: {{ section.settings.search_bar_size }}px {{ section.settings.search_bar_size | times: 3 }}px;
    background: {{ section.settings.search_bar_background_color}};
    border-radius: {{ section.settings.search_bar_border_radius }}px;
    width: {{ section.settings.search_bar_width }}vw;
  }

  .search-bar-container--{{ section.id }} input {
    background: {{ section.settings.search_bar_background_color}};
    color: {{ section.settings.search_bar_font_color }};
    width: {{ section.settings.search_bar_width  | minus: 5 }}vw;
  }

  {% if section.settings.search_bar_show_border == true %}
    .search-bar-container--{{ section.id }} .search {
      border: 1px solid {{ section.settings.search_bar_border_color }};
    }
  {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "Search Bar",
  "class": "searchbar",
  "settings": [
    {
      "type": "text",
      "id": "search_placeholder",
      "default": "Search",
      "label": "Search Bar Placeholder"
    },
    {
      "type": "color",
      "id": "search_bar_font_color",
      "label": "Search Bar Font Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "search_bar_border_color",
      "label": "Search Bar Border Color",
      "default": "#ccc"
    },
    {
      "type": "color",
      "id": "search_bar_background_color",
      "label": "Search Bar Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "search_bar_container_color",
      "label": "Search Bar Container Color",
      "default": "#fff"
    },
    {
      "type": "select",
      "id": "searchbar_position",
      "label": "Search Bar Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "search_bar_show_border",
      "label": "Show Search Bar Border",
      "default": true
    },
    {
      "type": "range",
      "id": "search_bar_width",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Search Bar Width",
      "default": 20
    },
    {
      "type": "range",
      "id": "search_bar_size",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Search Bar Size",
      "default": 6
    },
    {
      "type": "range",
      "id": "search_bar_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Search Bar Border-Radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "search_bar_margin",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Search Bar Margin",
      "default": 10
    },
    {
      "type": "range",
      "id": "search_bar_margin_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Search Bar Margin Bottom",
      "default": 10
    }
  ],
  "presets": [
    {
      "category": "search",
      "name": "Search"
    }
  ]
}
{% endschema %}
